<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css">
	<title>Регистрация</title>
</head>
<body>

<div class="form">
	<input type="text" name="Login" placeholder="Логин">
	<input type="text" name="Password" placeholder="Пароль">
	<input type="text" name="FirstName" placeholder="Имя">
	<input type="text" name="LastName" placeholder="Фамилия">
	<button>Регистрация</button>
</div>

<script src="/assets/js/registration.js"></script>
</body>
</html>