<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <div>
        
            {{range .recipeData}}
               
                <img
                src="/assets/recipes/recipe-1.jpeg"
                class="img recipe-img"
                alt=""
              />
              <h5>{{ .Name}}</h5>
              <p> {{ .Description}}</p>
              <p> {{ .Categories}} </p>
              {{ end }}
        
    </div>
    <div>
        Comments:
        <ul>
            {{range .commentsData}}
            <li>
                <p> {{ .Username}} : {{ .ComText}}</p>
            </li>
            {{end}}
        </ul>
    </div>
</body>
</html>