<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <style>
    .comment-form label {
  display: block;
  margin-bottom: 5px;
}

.comment-form textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  resize: vertical;
}

.comment-form .rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 20px;
}

.comment-form .rating input[type="radio"] {
  display: none;
}

.comment-form .rating label {
  display: inline-block;
  cursor: pointer;
  color: #ccc;
  font-size: 30px;
  margin-right: 5px;
}

.comment-form .rating label:hover,
.comment-form .rating label:hover ~ label,
.comment-form .rating input[type="radio"]:checked ~ label {
  color: #ffc107;
}

   </style>
   <script>
    recipeId = document.URL.split("/")[4]
            // productRatings = "{{.Product.Rate}}"
            console.log("pr ID: "+recipeId)
            userId = 4
   </script>
    <div>
        
            {{range .recipeData}}
               
                <img
                src="/assets/recipes/recipe-1.jpeg"
                class="img recipe-img"
                alt=""
              />
              <h5>{{ .Name}}</h5>
              <p>Description:  {{ .Description}}</p>
              <p>Category: {{ .Categories}} </p>
              <p>Rate: {{ .Rate}}</p>
              {{ end }}
        
    </div>
    <div>
        <!-- <form  >
            
        </form> -->
        <div class="comment-form">
            <form id="comment-form">
              <label for="comment">Leave a comment:</label>
              <textarea class="form-control" name="commentText" id="commentText" cols="30" rows="3"></textarea>
              <input type="text" class="form-control" id="userId" name="userId" style="display: none;">
              <input type="text" class="form-control" id="recipeId" name="recipeId" style="display: none;">
      
            
              <label for="rating">Rate this page:</label>
              <div class="rating">
                <input type="radio" id="star5" name="rating" value="5" required/>
                <label for="star5" title="5 stars">5</label>
                <input type="radio" id="star4" name="rating" value="4"/>
                <label for="star4" title="4 stars">4</label>
                <input type="radio" id="star3" name="rating" value="3"/>
                <label for="star3" title="3 stars">3</label>
                <input type="radio" id="star2" name="rating" value="2"/>
                <label for="star2" title="2 stars">2</label>
                <input type="radio" id="star1" name="rating" value="1"/>
                <label for="star1" title="1 star">1</label>
              </div>
          
              <button id="submit" type="submit">Send</button>
            </form>
          </div>
          
        <script>
           
            
            document.getElementById("userId").value = userId;
            document.getElementById("recipeId").value =recipeId;

            const commentForm = document.getElementById("comment-form");
            commentForm.addEventListener("submit", (event) => {
            event.preventDefault();
            
            const formData = new FormData(commentForm);
            const commentText = formData.get("commentText");
            const rating = formData.get("rating");
            const userId = formData.get("userId");
            const recipeId = formData.get("recipeId");
            data = {
                'commentText' :commentText,
                'userId':userId,
                'recipeId':recipeId,
                'rate':rating,
            }

           
            let xhr = new XMLHttpRequest();
             xhr.open("POST", "/sendComment");
            xhr.onload = function (e) {
            let response = JSON.parse(e.currentTarget.response);
            if ("Error" in response) {
                if (response.Error == null) {
                    console.log("Успешно авторизован");
                    // window.location.url = "http://127.0.0.1:8080/";
                } else {
                    console.log(response.Error);
                }
            } else {
                console.log("Некорректные данные");
            }
            };
            xhr.send(JSON.stringify(data));
            
            });


            
        </script>

        Comments:
        <ul>
            {{range .commentsData}}
            <li>
                <p> {{ .Username}} : {{ .ComText}}</p>
            </li>
            {{end}}
        </ul>
    </div>
</body>
</html>